<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="banner_home">
        <h2>Karen's blog</h2>
        <span>Chronicle of travel adventures</span>
      </div>
    </div>
  </div>
</div>
