<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="banner_home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url('https://images.unsplash.com/photo-1512615350195-8afd94669877?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b95be1de1943fe7e7110add06d611da&auto=format&fit=crop&w=2250&q=80');">
        <div class="banner-content">
          <h2>Karen's blog</h2>
          <span>Chronicle of travel adventures</span>
        </div>
      </div>
    </div>
  </div>
</div>
